<a href="https://colab.research.google.com/github/axiom9/WebScraping_and_NLP/blob/main/NLP_Tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://towardsdatascience.com/deep-learning-pipeline-for-natural-language-processing-nlp-c6f4074897bb

https://tfhub.dev/google/nnlm-en-dim50/2

https://www.analyticsvidhya.com/blog/2021/06/must-known-techniques-for-text-preprocessing-in-nlp/

https://medium.com/analytics-vidhya/introduction-to-nlp-with-disaster-tweets-3b672a75748c

Model architecture: https://www.kaggle.com/choureymanas/is-it-a-disaster

# Pre-reqs (Loading data)

In [14]:
import pandas as pd

In [15]:
%tensorflow_version 2.x
import tensorflow as tf
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU at: {}'.format(device_name))

Found GPU at: /device:GPU:0

In [16]:
def load_data():
  ! mkdir ~/.kaggle
  ! cp kaggle.json ~/.kaggle/
  ! chmod 600 ~/.kaggle/kaggle.json
  ! kaggle competitions download -c nlp-getting-started

In [17]:
ls

kaggle.json  sample_data/  sample_submission.csv  test.csv  train.csv

In [18]:
load_data()

mkdir: cannot create directory ‘/root/.kaggle’: File exists
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
train.csv: Skipping, found more recently modified local copy (use --force to force download)
test.csv: Skipping, found more recently modified local copy (use --force to force download)

In [19]:
df = pd.read_csv('/content/train.csv')

# Pre-processing Data

### Imports

In [38]:
! pip install langdetect
import nltk
# nltk.download('words')
nltk.download('punkt')
from nltk.corpus import words, stopwords
from nltk.stem import WordNetLemmatizer

from langdetect import detect

import re

import string
from string import digits

Requirement already satisfied: langdetect in /usr/local/lib/python3.7/dist-packages (1.0.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from langdetect) (1.15.0)
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [23]:
df

         id keyword  ...                                               text target
0         1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1         4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2         5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3         6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4         7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1
...     ...     ...  ...                                                ...    ...
7608  10869     NaN  ...  Two giant cranes holding a bridge collapse int...      1
7609  10870     NaN  ...  @aria_ahrary @TheTawniest The out of control w...      1
7610  10871     NaN  ...  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...      1
7611  10872     NaN  ...  Police investigating after an e-bike collided ...      1
7612  10873     NaN  ...  The Latest: More Homes Razed by Northern Calif...      1

[7613 rows x 5 columns]

In [24]:
df.isna().sum() / len(df)

id          0.000000
keyword     0.008013
location    0.332720
text        0.000000
target      0.000000
dtype: float64

## Now we can begin pre-processing the sentences:

* Drop duplicates if any
* Drop any columns that might not be needed
* Drop missing values if any
* Remove punctuations
* Convert the words into lowercase
* Remove URLs, the word “twitter” and other acronyms
* Extract only tweets that are in English
* Tokenize (break the tweets into single words)
* Remove stopwords

In [25]:
df

         id keyword  ...                                               text target
0         1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1         4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2         5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3         6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4         7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1
...     ...     ...  ...                                                ...    ...
7608  10869     NaN  ...  Two giant cranes holding a bridge collapse int...      1
7609  10870     NaN  ...  @aria_ahrary @TheTawniest The out of control w...      1
7610  10871     NaN  ...  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...      1
7611  10872     NaN  ...  Police investigating after an e-bike collided ...      1
7612  10873     NaN  ...  The Latest: More Homes Razed by Northern Calif...      1

[7613 rows x 5 columns]

In [26]:
# df2copy = df.text
# df2copy.apply(lambda sentences: [sentence for x in sentences if x in words.words()])

In [28]:

try:
    words = set(nltk.corpus.words.words())
except LookupError:
  nltk.download('words')
finally:
  words = set(nltk.corpus.words.words())

try:
  stop_words = set(stopwords.words('english'))
except LookupError:
  nltk.download('stopwords')
finally:
  stop_words = set(stopwords.words('english'))

nltk.download('wordnet')

lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [50]:
def clean_data(df):
    """Function that cleans the data by dropping unwanted columns, duplicates, rows w/ missing tweets. Additionally, 
    it removes punctuation, expands contractions, removes stop-words, and performs lemmatization and tokenization 
    using NLTK Wordnet Lemmatizer and NLTK 'word_tokenize' module for tokenization."""

    # Dictionary to expand contractions (will be used later)
    contractions_dict = {"ain't": "are not","'s":" is","aren't": "are not", 
                     "shouldn't":"should not", "wouldn't":"would not", "couldn't":"could not",
                     "they're": "they are", "he'd":"he would", "I'm": "I am", "he's":"he is",
                     "isn't": "is not"}

    #Function to remove digits in text                    
    def remove_nums(text):
        """Removes any text (word) containing digits in it and properly concatenates
        the remaining sentence"""
        return " ".join(re.sub(r'\w*\d\w*', '', text).strip().split())

    #Function to remove URLs
    def remove_URL(text):
        """Remove URLs from a text string"""
        return re.sub(r"http\S+", "", text)

    # Function to expand contractions based on the contractions_dict
    def expand_contractions(text,contractions_dict=contractions_dict):
        def replace(match):
            return contractions_dict[match.group(0)]
        return contractions_re.sub(replace, text)

    # Function to remove ascii characters
    def remove_ascii(text):
        """Removes any ascii characters"""
        return text.encode("ascii", "ignore").decode()

    # Function to remove stop words
    def remove_stopwords(text):
        """Removes stopwords from a corpus"""
        return " ".join([word for word in str(text).split() if word not in stop_words])

    # Function to lemmatize words
    def lemmatize_words(text):
        """ Uses NLTK wordnet lemmatizer to lemmatize words """
        return " ".join([lemmatizer.lemmatize(word) for word in text.split()])


    # def detect_languages(df):
    #     """Function that adds a new column in the dataframe passed that is the language the text is in"""
    #     # Check if the language is en, if it is do nothing, if it isn't then drop it
    #     for i in range(len(df.text)):
    #         if detect(df.text[i]) == 'en':
    #             df.drop(i, inplace=True)

    #Detect and drop rows that aren't in English - Temporarily excluding
    # detect_languages(df)

    # Make a copy of the df
    df = df.copy()

    # Drop columns that aren't needed
    cols_to_drop = ['id', 'keyword', 'location']
    df = df.drop(cols_to_drop, axis=1)
    # Note: We only need 'text' and 'target' columns for this deep learning task. Other columns can be effectively discarded

    # Regular expression for finding contractions
    contractions_re=re.compile('(%s)' % '|'.join(contractions_dict.keys()))

    # Expanding Contractions in the reviews
    df.text=df.text.apply(lambda x:expand_contractions(x))

    # Remove URLs
    df.text = df.text.apply(lambda x: remove_URL(x))

    # Remove ascii characters / text
    df.text = df.text.apply(lambda x:remove_ascii(x))

    # Removing punctutations
    df.text = df.text.apply(lambda x: x.translate(str.maketrans(' ',' ', string.punctuation)))

    # Removing numbers
    # df.text = df.text.apply(lambda x: x.translate(str.maketrans(' ',' ', digits)))
    df.text = df.text.apply(lambda x: remove_nums(x))

    # Lowercase
    df.text = df.text.apply(lambda x: x.lower())

    # Drop duplicates
    df.drop_duplicates(inplace=True) 

    # Drop any rows with missing tweets
    df.text.dropna(inplace=True)

    # Remove stop-words
    df.text = df.text.apply(lambda x: remove_stopwords(x))

    # Get the lemma of the words
    df.text = df.text.apply(lambda x: lemmatize_words(x))

    # Function to remove any extra unwanted spaces
    df.text = df.text.apply(lambda x: re.sub(' +', ' ', x))

    # Finally, let's perform tokenization using NLTK's module 'word_tokenize'
    df.text = df.text.apply(lambda x: nltk.word_tokenize(x))

    # Output the cleaned up dataframe
    return df

In [49]:
df2 = df.copy()
df2 = clean_data(df2)
df2

                                                   text  target
0     [deed, reason, earthquake, may, allah, forgive...       1
1         [forest, fire, near, la, ronge, sask, canada]       1
2     [resident, asked, ishelter, place, notified, o...       1
3     [people, receive, wildfire, evacuation, order,...       1
4     [got, sent, photo, ruby, alaska, smoke, wildfi...       1
...                                                 ...     ...
7601  [breaking, la, refugio, oil, spill, may, costl...       1
7602     [siren, went, wasnt, forney, tornado, warning]       1
7603  [official, say, quarantine, place, alabama, ho...       1
7605  [flip, side, walmart, bomb, everyone, evacuate...       1
7606  [suicide, bomber, kill, saudi, security, site,...       1

[6932 rows x 2 columns]